
/*

PostgreSQL version of MS SQL Server Database
Setup script for SQL Practice Problems
Database: Northwind_SPP


*/



CREATE TABLE Categories(
	CategoryID INTEGER NOT NULL,
	CategoryName TEXT NOT NULL,
	Description TEXT NULL,
 PRIMARY KEY (CategoryID)
);


CREATE TABLE CustomerGroupThresholds(
	CustomerGroupName TEXT NULL,
	RangeBottom MONEY  NULL,
	RangeTop MONEY  NULL
);


CREATE TABLE Customers(
	CustomerID TEXT NOT NULL,
	CompanyName TEXT NOT NULL,
	ContactName TEXT NULL,
	ContactTitle TEXT NULL,
	Address TEXT NULL,
	City TEXT NULL,
	Region TEXT NULL,
	PostalCode TEXT NULL,
	Country TEXT NULL,
	Phone TEXT NULL,
	Fax TEXT NULL,
 PRIMARY KEY (CustomerID)
);


CREATE TABLE Employees(
	EmployeeID INTEGER NOT NULL,
	LastName TEXT NOT NULL,
	FirstName TEXT NOT NULL,
	Title TEXT NULL,
	TitleOfCourtesy TEXT NULL,
	BirthDate TIMESTAMP WITH TIME ZONE NULL,
	HireDate TIMESTAMP WITH TIME ZONE NULL,
	Address TEXT NULL,
	City TEXT NULL,
	Region TEXT NULL,
	PostalCode TEXT NULL,
	Country TEXT NULL,
	HomePhone TEXT NULL,
	Extension TEXT NULL,
	Notes TEXT NULL,
	ReportsTo INTEGER NULL,
	PhotoPath TEXT NULL,
 PRIMARY KEY (EmployeeID)
);

CREATE TABLE OrderDetails(
	OrderID INTEGER NOT NULL,
	ProductID INTEGER NOT NULL,
	UnitPrice MONEY  NOT NULL,
	Quantity SMALLINT   NOT NULL,
	Discount REAL  NOT NULL,
  PRIMARY KEY (OrderID, ProductID)
);

CREATE TABLE Orders(
	OrderID INTEGER NOT NULL,
	CustomerID TEXT NOT NULL,
	EmployeeID INTEGER NULL,
	OrderDate TIMESTAMP WITH TIME ZONE NULL,
	RequiredDate TIMESTAMP WITH TIME ZONE NULL,
	ShippedDate TIMESTAMP WITH TIME ZONE NULL,
	ShipVia INTEGER NULL,
	Freight MONEY  NULL,
	ShipName TEXT NULL,
	ShipAddress TEXT NULL,
	ShipCity TEXT NULL,
	ShipRegion TEXT NULL,
	ShipPostalCode TEXT NULL,
	ShipCountry TEXT NULL,   
  PRIMARY KEY (OrderID)
);
 
CREATE TABLE Products(
	ProductID INTEGER  NOT NULL,
	ProductName TEXT NOT NULL,
	SupplierID INTEGER NULL,
	CategoryID INTEGER NULL,
	QuantityPerUnit TEXT NULL,
	UnitPrice MONEY  NULL,
	UnitsInStock SMALLINT   NULL,
	UnitsOnOrder SMALLINT   NULL,
	ReorderLevel SMALLINT   NULL,
	Discontinued SMALLINT NOT NULL,
 PRIMARY KEY (ProductID)
);
 
CREATE TABLE Shippers(
	ShipperID INTEGER NOT NULL,
	CompanyName TEXT NOT NULL,
	Phone TEXT NULL,
 PRIMARY KEY (ShipperID)
);

CREATE TABLE Suppliers(
	SupplierID INTEGER NOT NULL,
	CompanyName TEXT NOT NULL,
	ContactName TEXT NULL,
	ContactTitle TEXT NULL,
	Address TEXT NULL,
	City TEXT NULL,
	Region TEXT NULL,
	PostalCode TEXT NULL,
	Country TEXT NULL,
	Phone TEXT NULL,
	Fax TEXT NULL,
	HomePage TEXT NULL,
 PRIMARY KEY (SupplierID)
);
 

INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES (1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales');
INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES (3, 'Confections', 'Desserts, candies, and sweet breads');

INSERT INTO CustomerGroupThresholds (CustomerGroupName, RangeBottom, RangeTop) VALUES ('Low', 0.0000, 999.9999);
INSERT INTO CustomerGroupThresholds (CustomerGroupName, RangeBottom, RangeTop) VALUES ('Medium', 1000.0000, 4999.9999);
INSERT INTO CustomerGroupThresholds (CustomerGroupName, RangeBottom, RangeTop) VALUES ('High', 5000.0000, 9999.9999);
INSERT INTO Customers (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berli', NULL, '12209', 'Germany', '030-0074321', '030-0076545');
INSERT INTO Customers (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', NULL, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745');
INSERT INTO Customers (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES ('ANTO', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', NULL, '05023', 'Mexico', '(5) 555-3932', NULL);


INSERT INTO OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 11, 14.0000, 12, 0);
INSERT INTO OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 42, 9.8000, 10, 0);
INSERT INTO OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 72, 34.8000, 5, 0);























INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10248, 'VINET', 5, CAST('2014-07-04T08:00:00.000' AS TIMESTAMPTZ), CAST('2014-08-01T00:00:00.000' AS TIMESTAMPTZ), CAST('2014-07-16T00:00:00.000' AS TIMESTAMPTZ), 3, 32.3800, 'Vins et alcools Chevalier', '59 rue de l''Abbaye', 'Reims', NULL, '51100', 'France');
INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10249, 'TOMSP', 6, CAST('2014-07-05T04:00:00.000' AS TIMESTAMPTZ), CAST('2014-08-16T00:00:00.000' AS TIMESTAMPTZ), CAST('2014-07-10T00:00:00.000' AS TIMESTAMPTZ), 1, 11.6100, 'Toms Spezialitäte', 'Luisenstr. 48', 'Münster', NULL, '44087', 'Germany');
INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10250, 'HANAR', 4, CAST('2014-07-08T15:00:00.000' AS TIMESTAMPTZ), CAST('2014-08-05T00:00:00.000' AS TIMESTAMPTZ), CAST('2014-07-12T00:00:00.000' AS TIMESTAMPTZ), 2, 65.8300, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil');








 

INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.0000, 39, 0, 10, 0);
INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0000, 17, 40, 25, 0);
INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0000, 13, 70, 25, 0);


INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (1, 'Speedy Express', '(503) 555-9831');
INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (2, 'United Package', '(503) 555-3199');
INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (3, 'Federal Shipping', '(503) 555-9931');
 

INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'Londo', NULL, 'EC1 4SD', 'UK', '(171) 555-2222', NULL, NULL);
INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', NULL, '#CAJUN.HTM#');
INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (3, 'Grandma Kelly''s Homestead', 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', NULL);


ALTER TABLE OrderDetails ALTER COLUMN UnitPrice SET DEFAULT 0;

ALTER TABLE OrderDetails  ALTER COLUMN Quantity  SET DEFAULT 1;

ALTER TABLE OrderDetails  ALTER COLUMN Discount  SET DEFAULT 0;

ALTER TABLE Orders  ALTER COLUMN Freight SET DEFAULT 0;

ALTER TABLE Products  ALTER COLUMN UnitPrice  SET DEFAULT 0;

ALTER TABLE Products  ALTER COLUMN UnitsInStock  SET DEFAULT 0;

ALTER TABLE Products  ALTER COLUMN UnitsOnOrder  SET DEFAULT 0;

ALTER TABLE Products  ALTER COLUMN ReorderLevel  SET DEFAULT 0;

ALTER TABLE Products  ALTER COLUMN Discontinued  SET DEFAULT 0;

ALTER TABLE Employees  ADD  CONSTRAINT FK_Employees_Employees FOREIGN KEY(ReportsTo) REFERENCES Employees (EmployeeID);


ALTER TABLE OrderDetails   ADD  CONSTRAINT FK_Order_Details_Orders FOREIGN KEY(OrderID) REFERENCES Orders (OrderID);


ALTER TABLE OrderDetails   ADD  CONSTRAINT FK_Order_Details_Products FOREIGN KEY(ProductID) REFERENCES Products (ProductID);


ALTER TABLE Orders  ADD  CONSTRAINT FK_Orders_Customers FOREIGN KEY(CustomerID) REFERENCES Customers (CustomerID);


ALTER TABLE Orders   ADD  CONSTRAINT FK_Orders_Employees FOREIGN KEY(EmployeeID) REFERENCES Employees (EmployeeID);


ALTER TABLE Orders  ADD  CONSTRAINT FK_Orders_Shippers FOREIGN KEY(ShipVia) REFERENCES Shippers (ShipperID);


ALTER TABLE Products  ADD  CONSTRAINT FK_Products_Categories FOREIGN KEY(CategoryID) REFERENCES Categories (CategoryID);


ALTER TABLE Products  ADD  CONSTRAINT FK_Products_Suppliers FOREIGN KEY(SupplierID) REFERENCES Suppliers (SupplierID);


ALTER TABLE Employees  ADD  CONSTRAINT CK_Birthdate CHECK  ((BirthDate < current_date));



ALTER TABLE OrderDetails  ADD  CONSTRAINT CK_Discount CHECK  ((Discount::NUMERIC::MONEY >= 0::NUMERIC::MONEY and Discount::NUMERIC::MONEY <= 1::NUMERIC::MONEY));


ALTER TABLE OrderDetails ADD  CONSTRAINT CK_Quantity CHECK  ((Quantity > 0));


ALTER TABLE OrderDetails  ADD  CONSTRAINT CK_UnitPrice CHECK  ((UnitPrice >= 0::NUMERIC::MONEY));


ALTER TABLE Products  ADD  CONSTRAINT CK_Products_UnitPrice CHECK  ((UnitPrice >= 0::NUMERIC::MONEY));


ALTER TABLE Products  ADD  CONSTRAINT CK_ReorderLevel CHECK  ((ReorderLevel >= 0));


ALTER TABLE Products  ADD  CONSTRAINT CK_UnitsInStock CHECK  ((UnitsInStock >= 0));


ALTER TABLE Products  ADD  CONSTRAINT CK_UnitsOnOrder CHECK  ((UnitsOnOrder >= 0));






